@font-face {
    font-family: "Lato";
    src: url('./Lato/Lato-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Outfit";
    src: url('./Outfit/Outfit-Regular.ttf') format("truetype");
}