/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-jaka/style/default-theme.scss";

body {
    font-family: "Outfit", sans-serif;

    --secondary-background-color: #e10600;
    --secondary-color: #e10600;
    --light-color: #ffffff;
    --accent-color: #e10600;
}